@import "./variables.scss";

html,
body,
#root,
.App {
    margin: 0;
    padding: 0;
    font-family: $font-lato;
    background: $white;
    color: $darkbrown;
    overflow: hidden;
}

.nav-bar {
    position: absolute;
    top: 0;
    z-index: 1;
    pointer-events: none;
    width: 100vw;
    height: calcvw(190);
    background: $white;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, $white 85%, rgba(243, 246, 244, 0) 100%);
}

.nav-item {
    cursor: pointer;
    user-select: none;
    font-size: calcvw(24);
    pointer-events: all;
}

.nav-home {
    position: absolute;
    left: calcvw(90);
    top: calcvw(75);
    #logoWithName {
        height: calcvw(70);
    }
}

.nav-search {
    position: absolute;
    left: calcvw(1545);
    top: calcvw(75);
}
.nav-about {
    position: absolute;
    left: calcvw(1369);
    top: calcvw(75);
}
.nav-account {
    position: absolute;
    left: calcvw(1712);
    top: calcvw(75);
}
