@import "../variables.scss";

.search-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.search-form {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
}
.search-form-text {
    font-size: inherit;
    color: $gold;
    display: flex;
    align-items: center;
}

.search-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */
    background-image: url("./arrowdown.svg"); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right 5% bottom 50%;
    background-size: inherit;
    width: 30%;
    height: inherit;
    padding: 0 calcvw(40);
    border-radius: 4vw;

    font-size: inherit;
    font-family: $font-lato;
    border: solid 1px $darkbrown;
    outline: none;
    background-color: $white;
}

//centered
.motion-search {
    position: absolute;
    opacity: 0;
}

.bigQ {
    font-size: calcvw(64);
    position: absolute;
    left: 50vw;
    top: 50vh;
}

.search-content {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.tag-wrapper {
    //position: absolute;
    //top: calcvw(262.5);
    width: calcvw(1741);
    display: flex;
    margin: 34px 0;
}

.tag-item {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    margin: 0 3px;
    background: $white;
    border-radius: 32px;
    border: solid 2px $darkbrown;
    cursor: pointer;
    user-select: none;
    &:hover {
        background: #d0943b;
    }
    &.selected {
        background: $gold;
    }
}

.search-results-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: calcvw(361);
    left: calcvw(90);
    height: calc(100% - 180px);
    width: calcvw(1740);
    background: red;

    display: flex;
    > * {
        width: 50%;
        background: yellow;
    }
}

.card-wrapper {
    width: 382px;
}
