#heartSVG {
    .cls-1 {
        fill: #efb661;
    }
}

#logoWithName {
    .cls-1 {
        fill: #433d43;
    }
    .cls-2 {
        fill: #201d20;
    }
    .cls-3 {
        fill: #efb661;
    }
}

#logo {
    .cls-1 {
        fill: #201d20;
    }
    .cls-2 {
        fill: #efb661;
    }
}

#landing {
    .cls-1 {
        fill: #efb661;
    }
    .cls-2 {
        fill: #f4c17d;
    }
    .cls-3 {
        fill: #f3f6f4;
    }
    .cls-3,
    .cls-4 {
        stroke: #433d43;
        stroke-miterlimit: 10;
        stroke-width: 2px;
    }
    .cls-4 {
        fill: none;
    }
    .cls-5 {
        fill: #433d43;
    }
    .cls-6 {
        fill: #91593a;
    }
    .cls-7 {
        fill: #a7704c;
    }
    .cls-8 {
        fill: #d69f7e;
    }
    .cls-9 {
        fill: #bf8567;
    }
    .cls-10 {
        fill: #c48a6c;
    }
    .cls-11 {
        fill: #9e6649;
    }
    .cls-12 {
        fill: #db830f;
    }
    .cls-13 {
        fill: #829920;
    }
    .cls-14 {
        fill: #f4c1c4;
    }
    .cls-15,
    .cls-21 {
        fill: #ff686b;
    }
    .cls-15 {
        opacity: 0.5;
    }
    .cls-16 {
        fill: #5e3219;
    }
    .cls-17 {
        fill: #e6b8a2;
    }
    .cls-18 {
        fill: #d3a18d;
    }
    .cls-19 {
        fill: #954721;
    }
    .cls-20 {
        fill: #99a5ae;
    }
}
