#heartSVG {
    .cls-1 {
        fill: #efb661;
    }
}

#logoWithName {
    .cls-1 {
        fill: #433d43;
    }
    .cls-2 {
        fill: #201d20;
    }
    .cls-3 {
        fill: #efb661;
    }
}

#logo {
    .cls-1 {
        fill: #201d20;
    }
    .cls-2 {
        fill: #efb661;
    }
}
